.header-main {
	position: fixed;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--white);
	transition:
		top 0.8s ease-in-out,
		background 0.3s ease-in-out;
	&._active {
		top: calc(-1 * toRem(150));
	}
	&._scroll {
		background-color: #ededed;
	}
	&__overlay {
		@extend %overlay;
		._menu-open & {
			opacity: 1;
			visibility: visible;
		}
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("min-height", 108, 70, 0, $containerWidth, 992);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		gap: toRem(15);
		@include adaptiveValue("gap", 30, 15, 0, 767.98, 480);
	}
	&__logo {
		flex-shrink: 0;
		@media (max-width: $mobileSmall) {
			position: relative;
			z-index: 21;
		}
	}
	&__form {
		@media (min-width: $tablet) {
			@include adaptiveValue("flex-basis", 267, 200, 0, $maxWidth, 992);
		}
		@media (max-width: $tablet) {
			flex-grow: 1;
		}
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	@include adaptiveValue("gap", 60, 15, 0, $maxWidth, 480);
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			z-index: 20;
			right: -100%;
			top: 0;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			row-gap: toRem(25);
			height: 100%;
			padding: toRem(100) toRem(30) toRem(30) toRem(110);
			background-color: var(--white);
			transition: right 0.5s ease-in-out;
			._menu-open & {
				right: 0%;
			}
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
			&::before {
				content: "";
				position: fixed;
				right: -100%;
				top: 0;
				width: 100%;
				height: toRem(70);
				background-color: #f5f5f5;
				transition: right 0.5s ease-in-out;
				._menu-open & {
					right: 0%;
				}
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 40, 20, 0, $maxWidth, 992);
		row-gap: toRem(10);
		@media (max-width: $tablet) {
			flex-grow: 1;
			flex-direction: column;
			align-items: flex-end;
			row-gap: toRem(25);
		}
	}
	&__link {
		color: var(--secondary);
		@include adaptiveValue("font-size", 22, 18, 0, $containerWidth, 992);
		font-weight: 500;
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}
		@media (max-width: $tablet) {
			font-size: toRem(26);
		}
	}
	&__link--active {
		pointer-events: none;
		font-weight: 700;
		color: var(--primary);
	}
	&__user-block {
		justify-content: flex-end;
	}
}

.user-block {
	display: flex;
	align-items: center;
	gap: toRem(12);
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(12);
		border-radius: toRem(8);
		background: var(--wild-sand);
		transition: background 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--purple);
				svg path {
					stroke: var(--white);
				}
			}
		}
		svg {
			width: toRem(20);
			height: toRem(20);
			path {
				transition: stroke 0.3s ease-in-out;
			}
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		position: relative;
		z-index: 25;
		display: block;
		width: toRem(40);
		height: toRem(40);
		border-radius: toRem(4);
		background: var(--purple);
		&::before,
		&::after,
		span {
			content: "";
			position: absolute;
			width: toRem(24);
			height: toRem(2);
			border-radius: toRem(3);
			background-color: var(--white);
		}
	}
	&::before,
	&::after {
		left: toRem(7);
	}
	&::after {
		top: toRem(10);
		transition:
			top 0.3s ease-in-out,
			transform 0.3s ease-in-out;
		._menu-open & {
			transform: rotate(-135deg);
			top: toRem(20);
		}
	}
	&::before {
		bottom: toRem(10);
		transition:
			bottom 0.3s ease-in-out,
			transform 0.3s ease-in-out;
		._menu-open & {
			transform: rotate(135deg);
			bottom: toRem(18);
		}
	}
	span {
		right: toRem(9);
		top: 50%;
		width: toRem(18);
		margin-top: toRem(-1);
		transition: transform 0.3s ease-in-out;
		._menu-open & {
			transform: scale(0);
		}
	}
}
