.social {
	display: flex;
	gap: toRem(10);
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(37);
		height: toRem(37);
		border-radius: toRem(12);
		background-color: var(--wild-sand);
		transition: background 0.3s ease-in-out;
		svg path {
			transition: fill 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--purple);
				svg path {
					fill: var(--white);
				}
			}
		}
	}
}
