.button {
	padding: toRem(18) toRem(22);
	border-radius: toRem(8);
	text-align: center;
	@include adaptiveValue("font-size", 18, 16, 0, $containerWidth, 480);
	font-weight: 500;
	&--fill {
		color: #fff;
		background-color: var(--purple);
		transition: background 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--purpleHover);
			}
		}
	}
	&--border {
		color: var(--purple);
		border: toRem(1) solid var(--primary);
	}
}
