.field-form {
	&__label {
		display: inline-block;
		font-weight: 600;
		letter-spacing: toRem(0.32);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__input {
		width: 100%;
		padding: toRem(16) toRem(20);
		border-radius: toRem(8);
		background-color: var(--wild-sand);
		color: var(--secondary);
		font-size: toRem(14);
		outline: none;
		cursor: pointer;
		transition:
			background 0.3s ease-in-out,
			box-shadow 0.3s ease-in-out;
		&::placeholder {
			color: inherit;
			transition: opacity 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--alto);
			}
		}
		&:focus {
			box-shadow: 0 0 toRem(2) toRem(2) #8b33fdad;
			background-color: var(--wild-sand);
			cursor: auto;
			&::placeholder {
				opacity: 0;
			}
		}
	}
}
