.section-offset {
	@include adaptiveValue("margin-bottom", 100, 50, 0, $containerWidth, 992);
}

.title {
	color: var(--primary);
	font-family: $fontSecondary, sans-serif;
	font-weight: 700;
	letter-spacing: toRem(0.68);
	line-height: 1.4;
}

.title--fs-34 {
	@include adaptiveValue("font-size", 34, 24, 0, $containerWidth, 480);
}

.title--fs-28 {
	@include adaptiveValue("font-size", 28, 24, 0, $containerWidth, 479.98);
}

.title--offset-70 {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 70, 40, 0, $containerWidth, 992);
	}
}

.title--offset-30 {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 30, 15, 0, $containerWidth, 479.98);
	}
}

.title--decor {
	position: relative;
	padding-left: toRem(26);
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: toRem(6);
		height: 70%;
		border-radius: toRem(4);
		background-color: var(--purple);
	}
}

.grid-slider {
	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: toRem(36);
		row-gap: toRem(50);
	}
}
